/**
 * WinCSS Button Component
 * http://github.com/tropix126/WinCSS
*/

button,
input[type="button" i],
input[type="submit" i],
input[type="reset" i] {
    max-width: 100%;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    cursor: default;
    user-select: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 2px;
    padding: 0 10px;
    transition: 300ms linear transform;
    span {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        word-break: break-word;
        text-overflow: ellipsis;
    }
    &.Wrap span {
        white-space: normal;
        text-align: left;
    }
    &:active:not([IsEnabled="false" i]):not([disabled]) {
        transform:scale(.975);
        transition: 50ms linear transform;
    }
    &.AccentButton {
        background-color: $AccentColor;
        color: rgba($ChromeLight, 1);
        &:not([IsEnabled="false" i]):not([disabled]) {
            &:hover {
                background-color: $AccentColorLight1;
            }
            &:active {
                background-color: $AccentColorDark1;
            }
        }
    }
    &:not(.AccentButton) {
        background-color: rgba(var(--Base), 0.2);
        color: rgba(var(--Base), 1);
        &:not([IsEnabled="false" i]):not([disabled]) {
            &:hover {
                background-color: rgba(var(--Base), 0.1);
            }
            &:active {
                background-color: rgba(var(--Base), 0.4);
            }
        }
    }
    &.ImageButton {
        height: auto;
        padding: 9px;
        background-color: transparent;
    }
    &[IsEnabled="false" i], &[disabled] {
        background-color: rgba(var(--Base), 0.2);
        color: rgba(var(--Base), 0.4);
    }
}