/**
 * WinCSS FormOption Component
 * http://github.com/tropix126/WinCSS
*/

.FormOption {
    display: flex;
    align-items: center;
    label {
        margin: 0;
        padding-left: 8px;
    }
    input[disabled], input[IsEnabled="false" i] {
        ~ label {
            color: var(--ControlHeaderForegroundDisabled);
        }
    }
}