/**
 * WinCSS HyperlinkButton Component
 * http://github.com/tropix126/WinCSS
*/

.HyperlinkButton {
    font-family: 'Segoe UI', sans-serif;
    color: var(--HyperLinkButtonForeground);
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-skip: none;
    display: inline-block;
    cursor: pointer;
    &:not([disabled]) {
        &:hover {
            color: var(--HyperlinkButtonForegroundPointerOver);
        }
        &:active {
            color: var(--HyperlinkButtonForegroundPressed);
        }
    }
    &[disabled] {
        color: var(--HyperLinkButtonForegroundDisabled);
        cursor: default;
    }
}