/**
 * WinCSS RadioButton Component
 * http://github.com/tropix126/WinCSS
*/

input[type="radio" i] {
    appearance: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not([IsEnabled="false" i]):not([disabled]) {
        border-color: rgba(var(--Base), 0.6);
        &:hover {
            border-color: rgba(var(--Base), 0.8);
        }
        &:active {
            background-color: rgba(var(--Base), 0.6);   
            border-color: rgba(var(--Base), 1);
        }
        &:checked {
            background-color: $AccentColor;
            border-color: transparent;
            &:hover {
                background-color: $AccentColorLight1;
            }
            &:active {
                background-color: $AccentColorDark1;
            }
        }
    }
    &:checked::after {
        content: '';
        width: 9px;
        height: 9px;
        background-color: $ChromeLight;
        border-radius: 50%;
    }
    &[IsEnabled="false" i], &[disabled] {
        border-color: rgba(var(--Base), 0.4);
        &:checked {
            background-color: rgba(var(--Base), 0.4);
            border-color: transparent;
        }
    }
}