/**
 * WinCSS RadioButton Component
 * http://github.com/tropix126/WinCSS
*/

input[type="radio" i] {
    appearance: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not([IsEnabled="false" i]):not([disabled]) {
        border-color: var(--RadioButtonBorder);
        &:hover {
            border-color: var(--RadioButtonBorderPointerOver)
        }
        &:active {
            background-color: var(--RadioButtonBorderPressed);
            border-color: var(--RadioButtonBorderPressed)
        }
        &:checked {
            background-color: var(--RadioButtonBackgroundChecked);
            border-color: var(--RadioButtonBorderChecked);
            &:hover {
                background-color: var(--RadioButtonBackgroundCheckedPointerOver);
            }
            &:active {
                background-color: var(--RadioButtonBackgroundCheckedPressed);
            }
        }
    }
    &:checked::after {
        content: '';
        width: 9px;
        height: 9px;
        background-color: var(--RadioButtonForegroundChecked);
        border-radius: 50%;
    }
    &[IsEnabled="false" i], &[disabled] {
        border-color: var(--RadioButtonBorderDisabled);
        &:checked {
            background-color: var(--RadioButtonBackgroundCheckedDisabled);
            border-color: var(--RadioButtonBorderCheckedDisabled);
        }
    }
}