/**
 * WinCSS TextBox Components
 * http://github.com/tropix126/WinCSS
*/

input:not([type]),
input[type="text"],
textarea {
    resize: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 3px;
    width: fit-content;
    color: rgba(var(--Base), 1);
    &[AllowResize="true" i] {
        resize: both;
    }
    &[IsEnabled="false" i], &[disabled] {
        background-color: rgba(var(--Base), 0.2);
        cursor: default;
        &::placeholder,
        &::-moz-placeholder,
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            color: rgba(var(--Base), 0.4);
        }
    }
    &:not([IsEnabled="false" i]):not([disabled]) {
        &::placeholder,
        &::-moz-placeholder,
        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            color: rgba(var(--Base), 0.6);
        }
        box-shadow: inset 0 0 0 1px rgba(var(--Base), 0.6);
        background-color: rgba(var(--Alt), 0.4);
        &:hover {
            background-color: rgba(var(--Alt), 1);
            box-shadow: inset 0 0 0 1px rgba(var(--Base), 0.8);
        }
        &:focus {
            background-color: rgba(var(--Alt), 1);
            box-shadow: inset 0 0 0 2px $AccentColor;
            &::placeholder,
            &::-moz-placeholder,
            &::-webkit-input-placeholder,
            &:-ms-input-placeholder,
            &:-moz-placeholder {
                color: rgba(var(--Base), 0.4);
            }
        }
    }
}