/**
 * WinCSS TextBox Components
 * http://github.com/tropix126/WinCSS
*/

input:not([type]),
input[type="text"],
input[type="password"],
textarea {
    resize: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    border-radius: 3px;
    width: fit-content;
    color: var(--TextBoxForeground);
    &[AllowResize="true" i] {
        resize: both;
    }
    &[disabled] {
        background-color: var(--TextBoxBackgroundDisabled);
        cursor: default;
        &::placeholder {
            color: var(--TextBoxPlaceholderTextDisabled);
        }
        &::-moz-placeholder {
            color: var(--TextBoxPlaceholderTextDisabled);
        }
        &::-webkit-input-placeholder {
            color: var(--TextBoxPlaceholderTextDisabled);
        }
        &:-ms-input-placeholder {
            color: var(--TextBoxPlaceholderTextDisabled);
        }
        &:-moz-placeholder {
            color: var(--TextBoxPlaceholderTextDisabled);
        }
    }
    &:not([disabled]) {
        background-color: var(--TextBoxBackground);
        box-shadow: var(--TextBoxBorder);
        &::placeholder {
            color: var(--TextBoxPlaceholderText);
        }
        &::-moz-placeholder {
            color: var(--TextBoxPlaceholderText);
        }
        &::-webkit-input-placeholder {
            color: var(--TextBoxPlaceholderText);
        }
        &:-ms-input-placeholder {
            color: var(--TextBoxPlaceholderText);
        }
        &:-moz-placeholder {
            color: var(--TextBoxPlaceholderText);
        }
        &:hover {
            background-color: var(--TextBoxBackgroundPointerOver);
            box-shadow: var(--TextBoxBorderPointerOver);
        }
        &:focus {
            background-color: var(--TextBoxBackgroundFocused);
            box-shadow: var(--TextBoxBorderFocused);
            &::placeholder {
                color: var(--TextBoxPlaceholderTextFocused);
            }
            &::-moz-placeholder {
                color: var(--TextBoxPlaceholderTextFocused);
            }
            &::-webkit-input-placeholder {
                color: var(--TextBoxPlaceholderTextFocused);
            }
            &:-ms-input-placeholder{
                color: var(--TextBoxPlaceholderTextFocused);
            }
            &:-moz-placeholder {
                color: var(--TextBoxPlaceholderTextFocused);
            }
        }
    }
}